#resultados {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;

    #infoAlumno {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;

        .dato-info {
            display: flex;
            align-items: flex-start;
            gap: 1rem;
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .titulo-info {
            font-weight: 600;
            flex-shrink: 0;
        }

        .valor-info {
            white-space: normal;
            overflow-wrap: break-word;
            font-weight: 500;
        }
    }

    #listado-elementos-tabla {
        #tabla {
            width: 100%;
            overflow-x: auto;

            #contenido-tabla {
                width: 100%;
                min-width: calc(5 * 200px);
            }
        }
    }
}